html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

@media (max-width: 575.98px) {
  /* Manage Display Headers for Mobile Devices */
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
  }

  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1;
  }

  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1;
  }

  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1;
  }

  /* Fix space between navbar and jumbotron on mobile */
  .container-fluid {
    margin-top: 50px;
  }
}
